
			* {
				font-family: arial black;
			}
			
			body {

				text-align: center;
				padding: 40px 60px;

			}
			
			div {
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				width: 100%;
			}
			
			a {		
	
				padding: 10px 15px;
				color: white;
				background-color: #3C3C3B;
				border-radius: 30px;
			}
